.wrapper {
  max-width: 1434px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.headerWrapper p {
  font-size: 36px;
  color: #101214;
  font-weight: 700;
}

.headerContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 89px;
  margin-bottom: 35px;
}

.headerContainer img {
  margin-right: 69px;
}

.mainContent {
  width: 100%;
  margin: 55px 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  grid-column-gap: 74px;
  grid-row-gap: 72px;
}

.project img {
  width: 100%;
}

.project p {
  font-size: 20px;
  color: #73808D;
}

.projectTitle {
  margin: 24px 0 8px;
  font-size: 32px;
  color: #101214;
}

@media screen and (max-width: 425px) {
  .mainContent {
    display: flex;
    flex-direction: column;
  }
}